/*********************************
Base Page Styles
*********************************/

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    background: url('../img/leaves-1031355_1920.jpg') no-repeat center center fixed;
    width: 100%;
}


/*********************************
Background Images
*********************************/

html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body, .home-bg {
    background: url('../img/leaves-1031355_1920.jpg') no-repeat center center fixed;
}

body, .bg-none {
    background: none;
}



/*********************************
#wrapper {
    width: 600px;
    margin: 0 auto;
}
*********************************/


/*********************************
Header
*********************************/

#header {
    float: left;
    margin: 20px 0;
    width: 100%;
}

.logo {
    background: url('./img/JMlogowhite.png') top cover no-repeat;
    margin-right: 5000px;
    width: 35px;  
    background-size: 100%;
}

/* May try to make this work for hover color change on Logo*/
.logo:hover {
    background: url('./img/JMlogoA82843.png') top cover no-repeat;
    text-align: center;
    width: 35px;  
}



/*********************************
Navigation
*********************************/

.nav li {
    float: left;
    margin-left: 20px;
    list-style: none;
    color: white;
}

.nav>li>a {
    padding: 10px 5px;
}

a {
    font-size: 1em;
    font-weight: 400;
}

a:hover, a:focus {
    color: #A82843;
    text-decoration: none;
}

.navbar, .navbar-default {
    background-color: transparent;
    margin: 25px;
}

.navbar-brand {
    width: 80px;  
    float: none;
    position: absolute;
    padding: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a, .gray-type {
  color: #333;
}



/*.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFCC00;
  background-color: transparent;
}*/


.homep .navbar-nav > li > a:link,
.homep .navbar-nav > li > a:visited {
  color: white;
  background-color: transparent;
}

.homep .navbar-nav > li > a:hover,
.homep .navbar-nav > li > a:active,
.homep .navbar-nav > li > a:focus {
  color: #FFCC00;
  background-color: transparent;
}

.insidep .navbar-nav > li > a:link,
.insidep .navbar-nav > li > a:visited {
  color: #333333;
  background-color: transparent;
}

.insidep .navbar-nav > li > a:hover,
.insidep .navbar-nav > li > a:active,
.insidep .navbar-nav > li > a:focus {
  color: #FFCC00;
  background-color: transparent;
}

.navbar {
    background-color: none; 
    border: 0;
}

.navbar-toggle {
  float: left; /* moved from the natural position of top right corner */
}








/*********************************
Main Content
*********************************/

.main-content {
    margin-top: 175px;
}

body {
    text-align: center;
}

h1 {
    font-size: 6em;
    font-weight: 900;
    padding: 10px; /** creates a larger click area **/
    color: white;
}

h2 {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
}

p {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
}

.container {
    max-width: 1000px;
}

.jumbotron {
    text-align: center;
}







/*********************************
Hire Me Button
*********************************/
.btn, .btn-default {
    padding-top: 100px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-size: 1.25em;
}

.btn, .btn-default {
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-size: 1.25em;
}

.btn-default:hover, .hireMe {
  color: #FFCC00;
  background-color: transparent;
  border-color: transparent;
}



/*********************************
#content {
    width: 65%;
    float: none;
    text-align: center;
    color: white;
}

#welcome {
    font-size: 1.3em;
    margin: 20px 0px;
    text-align: center;
    color: white;
}

#hire_me {
    color: white;
    padding 20px;
    font-size: 0.9em;
    text-align: center;

}

#hire_button {
    margin-top: 20px;
    list-style: none;
    text-align: center;
    padding: 10px;
}
*********************************/



/*********************************
About Me Page Content
*********************************/
.redText {
    color: #A82843;
}

.redTextsm {
    font-size: 1em;
    color: #A82843;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
}




/*********************************
Contact Page Content
*********************************/
.grayText {
    color: #AAA;
}

.grayTextsm {
    font-size: 1em;
    color: #AAA;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
}

.modal-body {
    padding-right: 200px;
    padding-left: 200px
}








* {
    box-sizing: border-box;
}