/*********************************
Base Page Styles
*********************************/

body {
    margin: 0;
    font-family: Raleway, sans-serif;
    background: url('../img/leaves-1031355_1920.jpg') no-repeat center center fixed;
    width: 100%;
}




/*********************************
Background Images
*********************************/

html {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body, .home-bg {
    background: url('../img/leaves-1031355_1920.jpg') no-repeat center center fixed;
}

body, .bg-none {
    background: none;
}




/*********************************
Header
*********************************/

#header {
    float: left;
    margin: 20px 0;
    width: 100%;
}

.logo {
    background: url('./img/JMlogowhite.png') top cover no-repeat;
    width: 35px;  
    background-size: 100%;
}

/* May try to make this work for hover color change on Logo*/
.logo:hover {
    background: url('./img/JMlogoA82843.png') top cover no-repeat;
    text-align: center;
    width: 35px;  
}




/*********************************
Navigation
*********************************/

.nav>li>a {
    padding: 10px 5px;
    color: white;
}

a {
    font-size: 1em;
    font-weight: 400;
    margin: 6px;
}

a:hover, a:focus {
    color: #A82843;
    text-decoration: none;
}

.navbar, .navbar-default {
    background-color: transparent;
    margin: 25px;
    margin-bottom: 0px;
}

.navbar-brand {
    width: 80px;  
    float: none;
    position: absolute;
    padding: none;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a, .gray-type {
  color: #333;
}

.homep .navbar-nav > li > a:link,
.homep .navbar-nav > li > a:visited {
  color: white;
  background-color: transparent;
}

.homep .navbar-nav > li > a:hover,
.homep .navbar-nav > li > a:active,
.homep .navbar-nav > li > a:focus {
  color: #FFCC00;
  background-color: transparent;
}

.insidep .navbar-nav > li > a:link,
.insidep .navbar-nav > li > a:visited {
  color: #333333;
  background-color: transparent;
}

.insidep .navbar-nav > li > a:hover,
.insidep .navbar-nav > li > a:active,
.insidep .navbar-nav > li > a:focus {
  color: #FFCC00;
  background-color: transparent;
}

.navbar {
    background-color: none; 
    border: 0;
}

.navbar-toggle {
  float: left; /* moved from the natural position of top right corner */
}

.navbar-collapse, .collapse, .in {
    border: none;
}

.navbar-collapse {

}




/*********************************
Media Query
*********************************/

@media (max-width: 760px) {
    #imageGallery {
        margin: 0px;
        padding-right: none;
    }

    .row {
        margin-left: 50px;
        padding-top: 150px;
    }

    ul.nav.navbar-nav.navbar-right {
    position: absolute;
    top: 75px;
    left: 30px;
    text-align: left;
    display: block;
    }
}

@media (max-width: 525px) {
    #imageGallery {
        margin: none;
        padding: none;
    }
}

@media (max-width: 650px) {
    /* moves the logo down in mobile view to allow room for the navbar */
    .logo {
        /*opacity: 0.3;*/
        position: fixed;
        margin-right: 0px;
        margin: auto;
    }
}






/*********************************
Main Content
*********************************/

.jMlogo {
    position: absolute;
    padding-top: -50px;
    margin-left: -20px;
}

.main-content {
    margin-top: 175px;
}

body {
    text-align: center;
}

h1 {
    font-size: 6em;
    font-weight: 900;
    padding: 10px; /** creates a larger click area **/
    color: white;
}

h2 {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
}

p {
    color: white;
    font-size: 1.25em;
    font-weight: 400;
}

.container {
    max-width: 800px;
}

.jumbotron {
    text-align: center;
}




/*********************************
Buttons
*********************************/
.btn, .btn-default, .hireme {
    padding-top: 100px;
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-size: 1.25em;
}

.btn-default:hover, .hireMe {
  color: #FFCC00;
  background-color: transparent;
  border-color: transparent;
}

.contactButton {
    border-color: transparent;
    background-color: transparent;
    color: #AAA;
    font-weight: 700;
    padding-top: none;
    text-decoration: none;
}

.contactButton:hover  {
    border-color: transparent;
    background-color: transparent;
    color: #A82843;
    font-weight: 700;
    padding-top: none;
    text-decoration: none;
}

.gitButton {
    padding-top: 50px;
    color: #A82843;
    background-color: transparent;
    border-color: transparent;
    font-weight: 700;
    font-size: 1.25em;
}




/*********************************
About Me Page Content
*********************************/
.redText {
    color: #A82843;
}

.redTextsm {
    font-size: 1em;
    color: #A82843;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
}




/*********************************
Contact Page Content
*********************************/
.grayText {
    color: #AAA;
}

.grayTextsm {
    font-size: 1em;
    color: #AAA;
    padding: 5px;
    padding-right: 40px;
    padding-left: 40px;
}

.modal-body {
    padding-right: 200px;
    padding-left: 200px
}




/*********************************
Image Gallery
*********************************/

/*********************************
Thumbnail Images
*********************************/

.img {
    border-color: black;
    border-style: solid;
}

.img-rounded {
    border-radius: 0px;
    border-radius: 0px;
    background-color: #FFFFFF;
    margin: 10px;
}

.img-rounded a {
    display: block;
}

.img-rounded img {
    width: 100%;
    max-width: 600px;
    padding: 2px;
}

.float_center {
    position: relative;
    width: 800px;
}

.img-align {
    width: 170px;

}
.row {
    margin-left: 0px;
    padding-top: 100px;
}




/*********************************
Lightbox
*********************************/
.wrapper {
    margin:0 auto; /*centers the div horizontally in all browsers (except IE)*/
    background:none; 
    text-align:left; /*resets text alignment from body tag */
    border-top:none; 
    padding:25px; 
    /*Let's add some CSS3 styles, these will degrade gracefully in older browser and IE*/
    border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; 
}

/** Styling Jquery for Lightbox **/

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#overlay img {
    margin-top: 10%;
    text-align: center;
    max-height: 500px;
    max-width: 500px;
}

overlay p {
    font-size: .3em;
    font-weight: 900;
}

.whiteBorder {
    border: 10px white solid;
}




/*********************************
Footer
*********************************/

footer {
    font-size: .65em;
    padding-top: 75px;
    text-align: center;
}

.footer {
    margin-bottom: 50px;
}

i {
    color: white;
    padding-right: 5px;
    padding-left: 5px;
}

i:hover {
    color: #d393a1;
}

.socialIcons {
    background: transparent;
    border: transparent;
    -webkit-appearance: none;
}

.iconBar {
    text-align: center;
    color: #A82843;
}

.copywrite {
    padding-top: 15px;
    color: #AAA
}

.redIcon {
    color: #A82843;
}

.grayIcon {
    color: #AAA;
}

.grayIcon:hover {
    color: #666666;
}




/*********************************
Box Sizing
*********************************/
* {
    box-sizing: border-box;
}